*{
    width: 100%;
}

body {background-color: #d9d9d9;}

.row{
}

.table{
    table-layout: fixed;
}

#container{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#addButton{
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}